@tailwind base;
@tailwind components;
@tailwind utilities;

.line-clamp-3 {
   -webkit-line-clamp: 3;
   /* Số dòng tối đa để hiển thị */
   display: -webkit-box;
   -webkit-box-orient: vertical;
   overflow: hidden;
}

.line-clamp-2 {
   -webkit-line-clamp: 2;
   /* Số dòng tối đa để hiển thị */
   display: -webkit-box;
   -webkit-box-orient: vertical;
   overflow: hidden;
}

.line-clamp-1 {
   -webkit-line-clamp: 1;
   /* Số dòng tối đa để hiển thị */
   display: -webkit-box;
   -webkit-box-orient: vertical;
   overflow: hidden;
}